<nav class="navbar topbar">
    <div class="nav-wrapper">
        <div class="topleft">
            <img src="/images/go.png" alt="logo" class="admin-logo logo">
            <h2>Go-use Tech</h2>
        </div>
        <div class="topright">
            <a href="/">
                <div class="client">Go to Page</div>
            </a>
            <a href="/logout">Logout</a>
        </div>
    </div>
</nav>
<nav class="sidebar">
    <ul>
        <li>
            <h3>Dashboard</h3>
            <div class="nav-content">
              <a href="/admin">Home</a>
            </div>
        </li>
        <li>
            <h3 class="">Course</h3>
            <div class="nav-content">
                <a href="/courses">Courses</a>
                <a href="/addCourse">New Course</a>
                <a herf="/allCourses">All Courses</a>
            </div>
        </li>
        <li>
            <h3 class="">Blog</h3>
            <div class="nav-content">
                <a href="/blog">Blog</a>
                <a href="/addPost">New Post</a>
                <a href="/allPosts">All Posts</a>
            </div>
        </li>
        <li>
            <h3 class="">Users</h3>
            <div class="nav-content">
                <a href="/users">All Users</a>
            </div>
        </li>
    </ul>
</nav>