<nav class="sidebar bg-white">
    <div class="flex-shrink-0 p-3 bg-white" style="width: 200px;">
        <a href="/api/admin" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            <img class="logo" src="/images/gousetech.png" alt="logo" width="75">
        </a>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="admin-btn btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    Home
                </button>
                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/api/admin" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                        <li><a href="/allUsers" class="link-dark d-inline-flex text-decoration-none rounded">View Users</a></li>
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="admin-btn btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Courses
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/api/course/create" class="link-dark d-inline-flex text-decoration-none rounded">New Course</a></li>
                        <li><a href="/api/course/" class="link-dark d-inline-flex text-decoration-none rounded">View Courses</a></li>
                        <li><a href="/api/course" class="link-dark d-inline-flex text-decoration-none rounded">Go to class</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="admin-btn btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                    Blog
                </button>
                <div class="collapse" id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/blog/create" class="link-dark d-inline-flex text-decoration-none rounded">New Post</a></li>
                        <li><a href="/blog/" class="link-dark d-inline-flex text-decoration-none rounded">View Posts</a></li>
                        <li><a href="/blog" class="link-dark d-inline-flex text-decoration-none rounded">Go to Blog</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class="admin-btn btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    Account
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
                        <li><a href="/logout" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>