<div class="container footer-container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted footer-text">&copy;<script>document.write( new Date().getFullYear() );</script> Go-use Tech</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex f-adjust">
        <li><a href="https://www.youtube.com/channel/UCEAlDOqZwPpDLshDEDT78_A" class="fa fa-youtube" target="_blank"></a></li>
        <li><a href="https://www.youtube.com/redirect?event=channel_banner&redir_token=QUFFLUhqbUdNSWlXbEt0ejg0eFJ1djhGVzFhelgyNjN2Z3xBQ3Jtc0ttTzB2T2duWk5iZF9WT1pzZGtma2psT2NGbDNSM0RxWHRhWWxnNDlJa2tDZV9naXNSZzNzZmw1bF9JblhibUh3MGo5X2JndnBtODh2X1dBQzdLcUNCWm5uQkVtWnJFSUUwc0ZLWmxFZVlvamFJNVBtQQ&q=https%3A%2F%2Fwww.facebook.com%2Fgousetech" class="fa fa-facebook-square" target="_blank"></a></li>
        <li><a href="https://api.whatsapp.com/send?phone=256779113920" class="fa fa-whatsapp" target="_blank"></a></li>
        <li><a href="https://www.youtube.com/redirect?event=channel_banner&redir_token=QUFFLUhqbk1OQm1BY29NcnRBbnMyTUFha0J1cnFva0lFQXxBQ3Jtc0tsQjBBRzN3cjNobFBrd1ZRRlFLSkRKXzhZeWIzaVF0eVBiMDRXMmI2WXN2TmNnTUZEd0JRTmFsbG1HbUJQSzFBenpjRk1zUFpYcjZLSG5VZ3F4R0ltZHFiRllhNmZSemVGbUpZOGRURmZmMzNpZm5uaw&q=https%3A%2F%2Ftwitter.com%2FGoUseTech2" class="fa fa-twitter" target="_blank"></a></li>
        <li><a href="https://www.youtube.com/redirect?event=channel_banner&redir_token=QUFFLUhqbmZkcjlsTFltWUNRTkw5VGpOZGt2aUMwU0hQZ3xBQ3Jtc0tuOHhPbTg3YkhlMU4zeVppbFVDeHZVY0lUcXVLeE8zSHY4dFhEblNfT1hQNTRLOG1WSFVkU1YwQldTSTlmS0VhWDV1WWY0RFBpVVYwQVlTcGptbnI4dnp4MVFRdDllbXRDbGJGUzR4Zk1DdTUwdG16SQ&q=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fgo-use-tech-0a871123b%2F" class="fa fa-linkedin-square" target="_blank"></a></li>
      </ul>
    </footer>
</div>