<footer>
    <div class="footer-icons">
        <ul>
            <li><a href="" class="fa fa-facebook-square" style="font-size: 25px;" target="_blank"></a></li>
            <li><a href="" class="fa fa-instagram" style="font-size: 25px;" target="_blank"></a></li>
            <li><a href="" class="fa fa-whatsapp" style="font-size: 25px;" target="_blank"></a></li>
            <li><a href="" class="fa fa-twitter" style="font-size: 25px;" target="_blank"></a></li>
            <li><a href="" class="fa fa-linkedin-square" style="font-size: 25px;" target="_blank"></a></li>
        </ul>
    </div>
    <div class="footer-text">
        <p>
          &copy;<script>document.write( new Date().getFullYear() );</script> 
          Go use Tech  | All Rights Reserved
        </p>
    </div>
</footer>