<nav class="navbar" id="navbar">
    <ul>
        <li><img class="logo" src="/images/go.png" alt="logo"></li>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="/login" class="login">Login</a>
        </li>
    </ul>
</nav>

<nav class="dropdown">
    <img class="logo" src="/images/go.png" alt="logo">
    <button class="drop-btn"><i class="fa fa-bars"></i></button>
    <div class="dropdown-nav">
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/login">Login</a>
    </div>
</nav>