<nav class="navbar" id="navbar">
    <ul>
        <li><img class="logo" src="/images/go.png" alt="logo"></li>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/courses">Blog</a>
        </li>
        <li>
            <a href="/login" class="login">Login</a>
        </li>
    </ul>
</nav>