<nav class="navbar navbar-expand-lg bg-transparent">
    <a class="navbar-brand m-adjust" href="/">
        <img src="/images/gousetech.png" alt="" class="logo" width="70">
    </a>
    <button class="navbar-toggler b-adjust" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 r-adjust">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"href="/blog/">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <li class="nav-item donate">
                <a class="nav-link" href="/api/donate">Donate</a>
            </li>
        </ul>
    </div>
</nav>