<%- include('./partials/head.ejs') %>
<body>
    <div class="intro">
        <%- include('./partials/nav.ejs') %>
        <div id="about-carousel" class="carousel slide d-flex justify-content-center align-items-center" data-bs-ride="carousel" style="height: 75vh;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="text-center">
                        <h2 class="about-header fs-*">About us ...</h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-center">
                        <em class="carousel-em fs-*">"Transforming the way you learn"</em>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-center">
                        <em class="carousel-em fs-*">Discover the story of Go UseTech.</em>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#about-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#about-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container abt-desc">
        <h1 class="text-center p-5">About GO USETECH</h1>
        <div class="row pb-5 myflex">
            <div class="col-lg-6 col-md-12">
                <div class="abt-text">    
                    <p>
                        GO USETECH IS represent AS "Global Outreach for Uniting Refugees in 
                        Sustainable Technologies for Empowerment and Change." This meaning 
                        underscores the organization's mission to globally reach out to 
                        refugees and unite them through sustainable technologies, particularly
                        in the field of IT. It signifies the organization's commitment to 
                        empowering refugees through technology, fostering positive change, 
                        and creating opportunities for their integration and success.
                    </p>
                    <p class="pt-2">
                        GO USETECH is a non-profit organization dedicated to empowering 
                        refugees through technology education and skills training. 
                        Our story began with a group of passionate young individuals who 
                        recognized the transformative power of IT skills in the lives of 
                        refugees. We firmly believe that access to technology and the ability 
                        to harness to empower refugees through comprehensive IT skills training. 
                        its potential can open doors to new opportunities, self-reliance, 
                        and a brighter future.
                    </p>
                    <p class="pt-2 display-none">
                        At GO USETECH, we understand the unique challenges faced by refugees, 
                        who have been forced to leave their homes and rebuild their lives in 
                        unfamiliar territories. Through our programs and initiatives, 
                        we strive to bridge the digital divide and provide refugees with the 
                        tools and knowledge they need to thrive in the digital age.
                    </p>
                    <div class="d-grid gap-2 pt-5">
                        <button class="btn btn-primary btn-lg p-2" type="button">
                            <a href="#">
                                Read More
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <img 
                    class="img-responsive" 
                    src="/images/b1.jpg"
                    width="500"
                    height="480"
                >
            </div>
        </div>
    </div>
    <div class="gray-bg">
        <div class="container projects pb-5">
            <div class="text-center p-5">
                <i class="fa fa-project-diagram"></i>
                <h2 class="sect-header">Our Projects</h2>
            </div>
            <div class="project-grid">
                <div class="project">
                    <div class="card">
                        <img 
                            class="img-responsive" 
                            src="/images/IT-Training.jpg" 
                            width="" 
                            height=""
                            alt="IT skills training image"
                        >
                        <div class="p-2">
                            <h4>IT Skills Training Program:</h4>
                            <p>
                                Implement a comprehensive IT skills training program that 
                                covers computer literacy, Microsoft Office proficiency, 
                                graphics design, video editing, web development, programming, 
                                and other relevant IT skills. The program can be structured 
                                in modules or courses and delivered through workshops, classes, 
                                or online platforms.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="card">
                        <img 
                            class="img-responsive" 
                            src="/images/impact.jpg" 
                            width="" 
                            height=""
                            alt=""
                        >
                        <div class="p-2">
                            <h4>Digital Literacy Workshops:</h4>
                            <p>
                                Conduct workshops to enhance digital literacy among refugees, 
                                covering topics such as internet usage, online safety, email 
                                communication, social media, and online job searching. 
                                This project would focus on building foundational digital 
                                skills that are essential in today&#39;s digital world.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="card">
                        <img 
                            class="img-responsive" 
                            src="/images/mentorship.jpg" 
                            width="" 
                            height=""
                            alt=""
                        >
                        <div class="p-2">
                            <h4>Mentorship and Career Guidance:</h4>
                            <p>
                                Establish a mentorship program where IT professionals 
                                volunteer their time to provide guidance and support to 
                                refugee participants. Mentors can offer career advice, 
                                share industry insights, provide networking opportunities, 
                                and help refugees navigate their IT career paths.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="card">
                        <img 
                            class="img-responsive" 
                            src="/images/mobile.jpg" 
                            width="" 
                            height=""
                            alt=""
                        >
                        <div class="p-2">
                            <h4>Mobile IT Training Unit:</h4>
                            <p>
                                Create a mobile IT training unit that can travel to 
                                refugee camps or underserved communities, providing 
                                access to IT resources, equipment, and training.
                                This project would ensure that even those with limited 
                                mobility or limited access to transportation can benefit 
                                from IT skills training.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="card">
                        <img 
                            class="img-responsive" 
                            src="/images/job.jpg" 
                            width="" 
                            height=""
                            alt=""
                        >
                        <div class="p-2">
                            <h4>IT Internship and Job Placement Program:</h4>
                            <p>
                                Develop partnerships with local businesses, IT companies, 
                                and organizations to secure internships and job placement 
                                opportunities for trained refugees. This project would 
                                focus on bridging the gap between training and employment, 
                                providing refugees with valuable work experience and a 
                                pathway to sustainable employment.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="card">
                        <img 
                            class="img-responsive" 
                            src="/images/center.jpg" 
                            width="" 
                            height=""
                            alt=""
                        >
                        <div class="p-2">
                            <h4>Community IT Centers:</h4>
                            <p>
                                Establish community IT centers in areas with a high 
                                refugee population, providing a safe and supportive 
                                space for refugees to access IT resources, receive 
                                training, and engage in community activities. These 
                                centers can serve as hubs for learning, collaboration, 
                                and integration.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="card">
                        <img 
                            class="img-responsive" 
                            src="/images/ent.jpg" 
                            width="" 
                            height=""
                            alt=""
                        >
                        <div class="p-2">
                            <h4>IT Entrepreneurship Support:</h4>
                            <p>
                                Offer support and resources for refugees interested in
                                starting their own IT-related businesses. This could 
                                include training in entrepreneurship skills, access to 
                                microloans or grants, and mentorship from successful IT 
                                entrepreneurs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="card">
                        <img 
                            class="img-responsive" 
                            src="/images/women.jpg" 
                            width="" 
                            height=""
                            alt=""
                        >
                        <div class="p-2">
                            <h4>Digital Skills for Women Empowerment:</h4>
                            <p>
                                Design and implement specific projects focused on 
                                empowering refugee women through IT skills training, 
                                addressing gender disparities and promoting women&#39;s 
                                inclusion and participation in the tech industry.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="card">
                        <img 
                            class="img-responsive" 
                            src="/images/social.jpg" 
                            width="" 
                            height=""
                            alt=""
                        >
                        <div class="p-2">
                            <h4>Tech for Social Impact:</h4>
                            <p>
                                Encourage refugees to leverage their IT skills for social 
                                impact by supporting projects that address social and 
                                humanitarian challenges. This project would involve 
                                identifying and supporting innovative tech-based solutions 
                                that benefit refugee communities and address their 
                                specific needs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <div class="text-center p-5">
            <i class="fa fa-key"></i>
            <h2 class="sect-header">Our Core Values</h2>
        </div>
        <div id="core-carousel" class="carousel slide d-flex justify-content-center align-items-center" data-bs-ride="carousel" style="height: 70vh;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="text-right">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <i class="fa fa-quote-left pb-2"></i>
                                <h4 class="">Empowerment:</h4>
                                <h5 class="px-5">
                                    We believe in empowering refugees by equipping them with IT
                                    skills and knowledge, enabling them to take control of their 
                                    lives, build self-confidence, and pursue their aspirations.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-right">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <i class="fa fa-quote-left pb-2"></i>
                                <h4 class="">Inclusivity:</h4>
                                <h5 class="px-5">
                                    We value inclusivity and strive to create an environment that
                                    respects and embraces diversity, fostering a sense of belonging 
                                    and equal opportunities for all refugees, regardless of their 
                                    backgrounds or circumstances.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-right">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <i class="fa fa-quote-left pb-2"></i>
                                <h4 class="">Collaboration:</h4>
                                <h5 class="px-5">
                                    We recognize the importance of collaboration and actively seek
                                    partnerships with like-minded organizations, educational 
                                    institutions, industry professionals, and local communities to 
                                    create a collaborative ecosystem that maximizes our impact and 
                                    resources.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-right">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <i class="fa fa-quote-left pb-2"></i>
                                <h4 class="">Innovation:</h4>
                                <h5 class="px-5">
                                    We embrace innovation and stay abreast of emerging technologies 
                                    and trends, continuously adapting our training programs to meet 
                                    the evolving needs of refugees in the digital age.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-right">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <i class="fa fa-quote-left pb-2"></i>
                                <h4 class="">Empathy:</h4>
                                <h5 class="px-5">
                                    We approach our work with empathy, recognizing the unique challenges 
                                    faced by refugees. We provide a supportive and compassionate learning 
                                    environment that values individual experiences and promotes holistic 
                                    growth.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-right">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <i class="fa fa-quote-left pb-2"></i>
                                <h4 class="">Accountability:</h4>
                                <h5 class="px-5">
                                    We are committed to being transparent and accountable in all our 
                                    actions and decisions. We adhere to the highest ethical standards, 
                                    ensuring responsible use of resources, and measuring our impact to 
                                    drive continuous improvement.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-right">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <i class="fa fa-quote-left pb-2"></i>
                                <h4 class="">Social Impact:</h4>
                                <h5 class="px-5">
                                    We are driven by a deep commitment to creating positive social 
                                    change. Our focus is on equipping refugees with IT skills that 
                                    have the potential to transform their lives, foster community 
                                    development, and contribute to the overall well-being of society.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#core-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#core-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>