<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="">About us ...</h2>
            </div> 
            <div class="about" id="about">
                <!-- <h2>About Us</h2>
                <hr size="5" noshade=""> -->
                <div class="abt-wrapper">
                  <div class="one left">
                    <h2>About Go-use Tech</h2>
                    <p>
                      Our mission is to bridge the gap between education and technology, providing a 
                      platform for educators and learners to stay up-to-date with the latest advancements 
                      and techniques in teaching and learning.
                    </P>
                    <br>
                    <P>
                      We are committed to offering a diverse range of resources, from articles and tutorials 
                      to webinars and podcasts, to help you learn and grow in the field of education and technology. 
                      Our content is created by experienced professionals in the industry who have a deep understanding 
                      of the challenges and opportunities that exist in the modern world of education.
                    </P>
                    <br>
                    <P>
                      We also believe that education and technology should be accessible to everyone, regardless 
                      of their background or financial situation. That's why we offer our content for free, so that 
                      anyone can benefit from our resources and contribute to the community.
                    </P>
                    <br>
                    <p>
                      We invite you to explore our website and join our community of learners, educators, and technologists. 
                      Together, we can create a brighter future for education and technology, one step at a time.
                    </p>
                  </div>
                  <div class="one right">
                    <div class="wrapper">
                      <img src="https://media.istockphoto.com/id/1403897241/photo/university-students-studying-together-in-the-library.jpg?b=1&s=170667a&w=0&k=20&c=ovuOKldshFMyYkV3n_Wa5eFVnly8Ab3iRBs_XtFinNg=">
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>