<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/admin-navbar.ejs') %>
    <main class="admin">
        <h3 class="dashboard mt-4 mb-2">Add Course</h3>
        <hr class="border">
        <div class="container">
            <form action="/addCourse" method="post" class="course-form mb-5" enctype="multipart/form-data">
                <label for="video" class="fw-bold">Upload Course Video:</label>
                <input class="form-control" type="file" name="video" id="video" placeholder="add video" multiple="multiple" accept="video/*">
                <label for="img" class="fw-bold">Upload Course Image:</label>
                <input class="form-control" type="file" name="img" id="img" placeholder="add image" multiple="multiple">
                <label for="title" class="fw-bold">Add Course Title:</label>
                <input class="form-control" type="text" name="title" id="title" placeholder="Course Title">
                <label for="desc" class="fw-bold">Course Description:</label>
                <textarea class="form-control" name="desc" id="desc" cols="30" rows="15" placeholder="Course description"></textarea>
                <label for="author" class="fw-bold">Author's Name:</label>
                <input class="form-control" type="text" name="author" id="author" placeholder="by Jon Doe">
                <label for="abtAuthor" class="fw-bold">About the Author:</label>
                <textarea class="form-control" name="abtAuthor" id="abtAuthor" cols="20" rows="10" placeholder="About the Author"></textarea>
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="johndoe@gmail.com">
                <label for="twitter">Twitter Url:</label>
                <input class="form-control" type="url" name="twitter" id="twitter" placeholder="https://twitter.com/johndoe">
                <label for="linkedin">LinkedIn Url:</label>
                <input class="form-control" type="url" name="linkedin" id="linkedin" placeholder="https://www.linkedin.com/in/johndoe">
                <label for="facebook">Facebook Url:</label>
                <input class="form-control" type="url" name="facebook" id="facebook" placeholder="https://www.facebook.com/profile.php?id=0001">
                <button type="submit" class="btn btn-primary">Upload Course</button>
            </form>
        </div>
    </main>
    
</body>