<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/admin-navbar.ejs') %>
    <main class="admin">
        <h3 class="dashboard mt-4 mb-2">Add Course</h3>
        <hr class="border">
        <div class="container">
            <form action="/api/course/create" method="post" class="course-form mb-5" enctype="multipart/form-data">
                <label 
                    for="courseImg" 
                    class="fw-bold"
                >
                    Upload Course Image:
                </label>
                <input 
                    class="form-control" 
                    type="file" 
                    name="courseImg" 
                    id="courseImg" 
                    placeholder="add Image" 
                    multiple="multiple" 
                    accept="img/*"
                >
                <label 
                    for="title" 
                    class="fw-bold"
                >
                    Course Title:
                </label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="title" 
                    id="title" 
                    placeholder="Course Title"
                    required
                >
                <label 
                    for="description" 
                    class="fw-bold"
                >
                    Course Description:
                </label>
                <textarea 
                    class="form-control" 
                    name="description" 
                    id="description" 
                    cols="30" 
                    rows="10" 
                    placeholder="Course description"
                    required
                >
                </textarea>
                <label 
                    for="author" 
                    class="fw-bold"
                >
                    Author's Name:
                </label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="author" 
                    id="author" 
                    placeholder="Jon Doe"
                >
                <div class="py-3">
                    <button 
                        type="submit" 
                        class="btn btn-primary fw-bold"
                    >
                        Create Course
                    </button>
                </div>
            </form>
        </div>
    </main>
    
</body>