<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/admin-navbar.ejs') %>

        <main class="admin">
            <h3 class="dashboard mt-4 mb-2">Dashboard</h3>
            <hr class="border">
            <div class="admin-grid row">
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-users"></i>
                        <div class="info-text">
                            <%= userCount %> Users
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-book"></i>
                        <div class="info-text">
                            9 Courses
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <span id="current-time"></span>
                        <br>
                        <div class="info-text">
                            <span id="current-date"></span>
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-globe"></i>
                        <div class="info-text">
                            <a href="/">Go to Page</a>
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-list"></i>
                        <div class="info-text">
                            <a href="/course/admin">View Courses</a>
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-newspaper-o"></i>
                        <div class="info-text">
                            <a href="/blog/admin">View Blog Posts</a>
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-plus"></i>
                        <div class="info-text">
                            <a href="/course/create">Add Course</a>
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-plus"></i>
                        <div class="info-text">
                            <a href="/blog/create">Add Post</a>
                        </div>
                    </div>
                </div>
                <div class="admin-card col-lg-4 col-md-6 mx-3 my-2">
                    <div class="info">
                        <i class="fa fa-users"></i>
                        <div class="info-text">
                            <a href="/api/user/">View Users</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script>
            // Function to update the time and date on the page
            function updateDateTime() {
                const currentTimeElement = document.getElementById('current-time');
                const currentDateElement = document.getElementById('current-date');
              
                const now = new Date();
                const timeString = now.toLocaleTimeString();
                const dateString = now.toDateString();
        
                currentTimeElement.textContent = timeString;
                currentDateElement.textContent = dateString;
            }
        
            // Update the time and date immediately
            updateDateTime();
        
            // Update the time and date every second
            setInterval(updateDateTime, 1000);
        </script>
          
    </body>