<%- include('./partials/head.ejs'); %>
<body class="contact-main">
  <div class="intro">
    <%- include('./partials/nav.ejs'); %>
    <div id="intro-carousel" class="carousel slide d-flex justify-content-center align-items-center" data-bs-ride="carousel" style="height: 75vh;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="text-center">
            <h2 class="intro-header fs-*">Contact us ...</h2>
          </div>
        </div>
        <div class="carousel-item">
          <div class="text-center">
            <em class="carousel-em fs-*">Reach out to our team.</em>
          </div>
        </div>
        <div class="carousel-item">
          <div class="text-center">
            <em class="carousel-em fs-*">We're here to help...</em>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#intro-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#intro-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="" id="section-map">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe 
            width="100%" 
            height="400" 
            id="gmap_canvas" 
            src="https://maps.google.com/maps?q=Kyangwali%20Refugee%20settlement&t=&z=13&ie=UTF8&iwloc=&output=embed" 
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe><br>
        <!--<style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
        <a href="https://www.embedgooglemap.net">how to add google map in wordpress</a>
        <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>-->
      </div>
    </div>
  </div>
  <div class="section-bg" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 pb-5">
        <div class="get-in-touch pt-5 text-center">
          <h3 class="pb-3">Get in touch</h3>
          <div class="p-2">
            <i class="fa fa-map-marker" style="font-size: 50px; color: rgb(233, 107, 34);"></i>
            <P class="in-touch-p">Kampala, Uganda</P>
          </div>
          <div class="p-2">
            <i class="fa fa-phone-square" style="font-size: 50px; color: rgb(233, 107, 34);"></i>
            <p class="in-touch-p">+256779113920</p>
          </div>
          <div class="p-2">
            <i class="fa fa-envelope" style="font-size: 50px; color: rgb(233, 107, 34);"></i>
            <p class="in-touch-p">usetech.go@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="contact-us py-5">
          <h3 class="pb-3">Send us a message</h3>
          <form action="/contact" method="post" class="contact-Form">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input type="text" id="name" name="name" class="form-control p-3" placeholder="Enter your Name">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="email" id="email" name="email" class="form-control p-3" placeholder="Enter your Email">
                </div>
              </div>
            </div>
            <div class="col pt-2">
              <input type="text" id="subject" name="subject" class="form-control p-3" placeholder="Subject">
            </div>
            <div class="col pt-2 pb-4">
              <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Type your Message"></textarea>
            </div>
            <div class="">
              <input class="btn btn-primary p-2 btn-adjust" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs'); %>
</body>
