<%- include('./partials/head.ejs') %>

    <body>
        <nav class="course-nav">
            <ul>
                <li>
                    <img class="logo" src="/images/go.png" alt="logo">
                </li>
                <li>
                    <input type="search" id="search" name="search" placeholder="Search for a scourse">
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <div class="main">

        </div>
    </body>