<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="donate-page d-flex justify-content-center align-items-center h-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <h1 class="fw-bold">Help us do more,<br> Support our mission</h1>
                    <p class="py-4">
                        <strong>GO-USE TECH</strong> is an education and tech website,<br> where we strive
                        to provide you with the latest and most<br> informative content
                        about the intersection of technology<br> and education.
                    </p>
                    <p>
                        When you support our mission, you help people learn<br> new skills
                        and provide for their families and also help us<br> create new resources
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="card p-5">
                        <!-- <h3 class="text-center pb-5">Donate</h3> -->
                        <form action="/donate" method="POST">
                            <div class="d-grid gap-2">
                                <button class="btn btn-warning btn-lg" type="button">
                                    <a href="#">
                                        <em class="fw-bold text-primary">PayPal</em>
                                    </a>
                                </button>
                                <button class="btn btn-danger btn-lg fw-bold" type="button">
                                    <a href="#">
                                        Airtel Money
                                    </a>
                                </button>
                                <button class="btn btn-warning btn-lg fw-bold" type="button">
                                    <a href="#">
                                        MTN Mobile Money
                                    </a>
                                </button>
                            </div>
                            <h4 class="p-5 fw-bold text-center">Or Donate with Card</h4>
                            <div class="row p-2">
                                <div class="col-lg-8">
                                    <input class="form-control p-2" type="text" id="card-name" name="card-name" placeholder="Card Holder Name" required>
                                </div>
                                <div class="col-lg-4">
                                    <input class="form-control p-2" type="text" id="date" name="date" placeholder="MM/YY" required>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-lg-8">
                                    <input class="form-control p-2" type="text" id="amount" name="amount" placeholder="1111 2222 3333 4444" required>
                                </div>
                                <div class="col-lg-4">
                                    <input class="form-control p-2" type="number" id="cvc" name="cvc" placeholder="CVC" required>
                                </div>
                            </div>
                            <div class="d-grid gap-2 p-2">
                                <button class="btn btn-primary btn-lg fw-bold" type="submit">Donate</button>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>