<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="main">
      <div class="main-home">
        <h1 class="text">GO-USE TECH</h1>
        <P class="text">
          Welcome to our education and tech website, where we strive to provide you with the<br>
          latest and most informative content about the intersection of technology and education.
        </P>
        <div class="home-btn">
          <button class="main-btn left">
            <a href="#about">ABOUT US</a>
          </button>
          <button class="main-btn right">
            <a href="/register">GET STARTED</a>
          </button>
        </div>
      </div>
    </div>

    <div class="about" id="about">
      <h1>About Us</h1>
      <div class="underline"></div>
      <div class="abt-wrapper">
        <div class="one left">
          <h2>Our story</h2>
          <!-- <P>
            Welcome to our education and tech website, where we strive to provide you with the latest and most informative content about the intersection of technology and education.
          <P> -->
          <p>
            Our mission is to bridge the gap between education and technology, providing a 
            platform for educators and learners to stay up-to-date with the latest advancements 
            and techniques in teaching and learning.
          </P>
          <br>
          <P>
            We are committed to offering a diverse range of resources, from articles and tutorials 
            to webinars and podcasts, to help you learn and grow in the field of education and technology. 
            Our content is created by experienced professionals in the industry who have a deep understanding 
            of the challenges and opportunities that exist in the modern world of education.
          </P>
          <br>
          <P>
            We also believe that education and technology should be accessible to everyone, regardless 
            of their background or financial situation. That's why we offer our content for free, so that 
            anyone can benefit from our resources and contribute to the community.
          </P>
          <br>
          <p>
            We invite you to explore our website and join our community of learners, educators, and technologists. 
            Together, we can create a brighter future for education and technology, one step at a time.
          </p>
        </div>
        <div class="one right">
          <div class="wrapper">
            <img src="https://media.istockphoto.com/id/1403897241/photo/university-students-studying-together-in-the-library.jpg?b=1&s=170667a&w=0&k=20&c=ovuOKldshFMyYkV3n_Wa5eFVnly8Ab3iRBs_XtFinNg=">
          </div>
        </div>
      </div>
    </div>

    <div class="contact">
      <h1>Contact Us</h1>
      <div class="contact-wrapper">
        <div class="left">
          <form>
            <h3>Send us a message</h3>
            <label for="name">Name<span style="color: red;">*</span></label>
            <br>
            <input type="text" id="name" name="name" placeholder="eg Jon Doe">
            <br>
            <label for="email">Email<span style="color: red;">*</span></label>
            <br>
            <input type="email" id="email" name="email" placeholder="eg jondoe@gmail.com">
            <br>
            <label for="subject">Subject<span style="color: red;">*</span></label>
            <br>
            <input type="text" id="subject" name="subject">
            <br>
            <label for="message">Message<span style="color: red;">*</span></label>
            <br>
            <textarea cols="7" rows="5" id="message" name="message"></textarea>
            <br>
            <input type="button" value="Submit">
          </form>
        </div>
        <div class="right">
          <h3>Get in touch with us</h3>
          <i class="fa fa-map-marker"></i>
          <span>Kampala, Uganda</span>
          <br>
          <i class="fa fa-phone-square"></i>
          <span>+256779113920</span>
          <br>
          <i class="fa fa-envelope"></i>
          <span>usetech.go@gmail.com</span>
        </div>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
