<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="main">
      <div class="main-home">
        <h1 class="text">GO-USE TECH</h1>
        <P class="text">
          Welcome to our education and tech website, where we strive<br>
          to provide you with the latest and most informative content<br>
          about the intersection of technology and education.
        </P>
        <div class="home-btn">
          <button class="main-btn left">
            <a href="#about">ABOUT US</a>
          </button>
          <button class="main-btn right">
            <a href="/register">GET STARTED</a>
          </button>
        </div>
      </div>
    </div>

    <div class="about" id="about">
      <!-- <h2>About Us</h2>
      <hr size="5" noshade=""> -->
      <div class="abt-wrapper">
        <div class="one left">
          <h2>About Go-use Tech</h2>
          <p>
            Our mission is to bridge the gap between education and technology, providing a 
            platform for educators and learners to stay up-to-date with the latest advancements 
            and techniques in teaching and learning.
          </P>
          <br>
          <P>
            We are committed to offering a diverse range of resources, from articles and tutorials 
            to webinars and podcasts, to help you learn and grow in the field of education and technology. 
            Our content is created by experienced professionals in the industry who have a deep understanding 
            of the challenges and opportunities that exist in the modern world of education.
          </P>
          <br>
          <P>
            We also believe that education and technology should be accessible to everyone, regardless 
            of their background or financial situation. That's why we offer our content for free, so that 
            anyone can benefit from our resources and contribute to the community.
          </P>
          <br>
          <p>
            We invite you to explore our website and join our community of learners, educators, and technologists. 
            Together, we can create a brighter future for education and technology, one step at a time.
          </p>
        </div>
        <div class="one right">
          <div class="wrapper">
            <img src="https://media.istockphoto.com/id/1403897241/photo/university-students-studying-together-in-the-library.jpg?b=1&s=170667a&w=0&k=20&c=ovuOKldshFMyYkV3n_Wa5eFVnly8Ab3iRBs_XtFinNg=">
          </div>
        </div>
      </div>
    </div>
    <!-- <hr class="border" size="5" noshade=""> -->
    <div class="team-boxed">
      <div class="container">
          <div class="intro">
              <h2 class="text-center mt-5 mb-3 team-header">Meet our team</h2>
          </div>
          <div class="row people">
              <div class="col-md-6 col-lg-4 item">
                  <div class="box person"><img class="rounded-circle img-fluid" data-bs-hover-animate="pulse" src="/images/Jonathan.png">
                      <h3 class="name">Nabasa Jonathan</h3>
                      <p class="title">Data Analyst, Graphics Designer, Video Editor</p>
                      <p class="description"><br>Founder and C.E.O @Go-use Tech, Uganda<br><br></p>
                      <div class="social"><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a><a href="#" target="_blank"><i class="fa fa-twitter"></i></a><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 item">
                  <div class="box person"><img class="rounded-circle img-fluid" data-bs-hover-animate="pulse" src="/images/Esam.png">
                      <h3 class="name">Esam Lasheen</h3>
                      <p class="title">CyberSecurity Engineer</p>
                      <p class="description"><br>Co-founder and Tutor @Go-use Tech, Egypt<br><br></p>
                      <div class="social"><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a><a href="#" target="_blank"><i class="fa fa-twitter"></i></a><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 item">
                  <div class="box person"><img class="rounded-circle img-fluid" data-bs-hover-animate="pulse" src="/images/Jarif.png">
                      <h3 class="name">Jarif Mohammad Nahin</h3>
                      <p class="title">Digital Marketer, S.E.O Expert</p>
                      <p class="description"><br>Co-founder and Tutor @Go-use Tech, Bangladesh<br><br></p>
                      <div class="social"><a href="https://www.facebook.com/profile.php?id=100063851235836&mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook-official"></i></a><a href="#" target="_blank"><i class="fa fa-twitter"></i></a><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 item">
                <div class="box person"><img class="rounded-circle img-fluid" data-bs-hover-animate="pulse" src="/images/Maruf.png">
                    <h3 class="name">Md. Marut Hossain</h3>
                    <p class="title">Software Engineer</p>
                    <p class="description"><br>Co-founder and Tutor @Go-use Tech, Bangladesh<br><br></p>
                    <div class="social"><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a><a href="#" target="_blank"><i class="fa fa-twitter"></i></a><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box person"><img class="rounded-circle img-fluid" data-bs-hover-animate="pulse" src="/images/Ruusa.png">
                    <h3 class="name">Ruusa Tulela Nuuyoma</h3>
                    <p class="title">Electrical Engineer</p>
                    <p class="description"><br>Co-founder and Tutor @Go-use Tech, Namibia<br><br></p>
                    <div class="social"><a href="https://www.facebook.com/ruusa.nuuyoma.3" target="_blank"><i class="fa fa-facebook-official"></i></a><a href="#" target="_blank"><i class="fa fa-twitter"></i></a><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box person"><img class="rounded-circle img-fluid" data-bs-hover-animate="pulse" src="/images/Wabule.png">
                    <h3 class="name">Wabule Peace Wokoli</h3>
                    <p class="title">Networking, Sales & Marketing Agent</p>
                    <p class="description"><br>Co-founder and Tutor @Go-use Tech, Uganda<br><br></p>
                    <div class="social"><a href="https://www.facebook.com/profile.php?id=100069297874465" target="_blank"><i class="fa fa-facebook-official"></i></a><a href="#" target="_blank"><i class="fa fa-twitter"></i></a><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
              <div class="box person"><img class="rounded-circle img-fluid" data-bs-hover-animate="pulse" src="/images/Allan.png">
                  <h3 class="name">Nandweza Allan</h3>
                  <p class="title">Software Engineer, IT Specialist, Codeprenuer</p>
                  <p class="description"><br>Co-founder @Go-use Tech, Uganda<br><br></p>
                  <div class="social"><a href="https://www.facebook.com/profile.php?id=100088310495889" target="_blank"><i class="fa fa-facebook-official"></i></a><a href="https://twitter.com/allannandweza" target="_blank"><i class="fa fa-twitter"></i></a><a href="https://www.linkedin.com/in/nandwezaallan/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box person"><img class="rounded-circle img-fluid" data-bs-hover-animate="pulse" src="/images/Isaac.png">
                  <h3 class="name">Mehmood Issack</h3>
                  <p class="title">Junior Networking Engineer</p>
                  <p class="description"><br>Co-founder and Tutor @Go-use Tech, Kenya<br><br></p>
                  <div class="social"><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a><a href="#" target="_blank"><i class="fa fa-twitter"></i></a><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box person"><img class="rounded-circle img-fluid" data-bs-hover-animate="pulse" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDTWtZjV_YXCgbJr1SNLAA_Px-nz8eacMrlw&usqp=CAU">
                  <h3 class="name">Anamika Mondol</h3>
                  <p class="title">Software Developer, Freelencer</p>
                  <p class="description"><br>Co-founder and Tutor @Go-use Tech, Bangladesh<br><br></p>
                  <div class="social"><a href="https://www.facebook.com/profile.php?id=100085232790471" target="_blank"><i class="fa fa-facebook-official"></i></a><a href="#" target="_blank"><i class="fa fa-twitter"></i></a><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></div>
              </div>
          </div>
          </div>
      </div>
    </div>
    <!-- <hr class="border"> -->
    <div class="contact">
      <h2>Contact Us</h2>
      <div class="contact-wrapper">
        <div class="left">
          <form action="/contact" method="post" class="contact-Form">
            <h3>Send us a message</h3>
            <div class="form-group">  
              <label for="name">Name<span style="color: red;">*</span></label>
              <br>
              <input class="form-control" type="text" id="name" name="name" placeholder="eg Jon Doe">
            </div>
            <div class="form-group">  
              <label for="email">Email<span style="color: red;">*</span></label>
              <br>
              <input class="form-control" type="email" id="email" name="email" placeholder="eg jondoe@gmail.com">
            </div>
            <div class="form-group">
              <label for="subject">Subject<span style="color: red;">*</span></label>
              <br>
              <input class="form-control" type="text" id="subject" name="subject">
            </div>
            <div class="form-group">
              <label for="message">Message<span style="color: red;">*</span></label>
              <br>
              <textarea class="form-control" cols="7" rows="5" id="message" name="message"></textarea>
            </div>
            <br>
            <!-- <button type="submit">Submit</button> -->
            <input class="btn btn-primary btn-adjust" type="submit" value="Submit">
          </form>
        </div>
        <div class="right">
          <h3>Get in touch</h3>
          <i class="fa fa-phone-square"></i>
          <span>+256779113920</span>
          <br>
          <i class="fa fa-map-marker"></i>
          <span>Kampala, Uganda</span>
          <br>
          <i class="fa fa-envelope"></i>
          <span>usetech.go@gmail.com</span>
        </div>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>

  <script>
    const contactForm = document.querySelector('.contact-Form');
    let name = document.getElementById('name');
    let email = document.getElementById('email');
    let subject = document.getElementById('subject');
    let message = document.getElementById('message');

    contactForm.addEventListener('submit', (e) => {
      e.preventDefault();

      let formData = {
        name: name.value,
        email: email.value,
        subject: subject.value,
        message: message.value
      }

      // console.log(formData);
      let xhr = new XMLHttpRequest();
      xhr.open('POST', '/contact');
      xhr.setRequestHeader('content-type', 'application/json');
      xhr.onload = () => {
        console.log(xhr.responseText);
        if(xhr.responseText == 'success') {
          alert('Email sent successfully!');
          name.value = '';
          email.value = '';
          subject.value = '';
          message.value = '';
        } else {
          alert('something went wrong!');
        }
      }

      xhr.send(JSON.stringify(formData));
    })
  </script>
</html>
