<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="main">
      <div class="main-left">
        <h1 class="text">Welcome to GO-USE TECH!</h1>
        <P class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iste eveniet quis tempore<br>
          voluptatem fugiat. Nihil doloribus, repudiandae excepturi est hic ut molestiae rem veniam,<br>
          amet ipsa, harum distinctio dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </P>
        <P class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iste eveniet quis tempore<br>
          voluptatem fugiat. Nihil doloribus, repudiandae excepturi est hic ut molestiae rem veniam,<br>
          amet ipsa, harum distinctio dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </P>
      </div>
      <div class="main-right">
        <div class="wrapper">
          <img src="https://media.istockphoto.com/id/1403897241/photo/university-students-studying-together-in-the-library.jpg?b=1&s=170667a&w=0&k=20&c=ovuOKldshFMyYkV3n_Wa5eFVnly8Ab3iRBs_XtFinNg=">
        </div>
      </div>
    </div>
    <div class="about">
      <h1>About Us</h1>
      <div class="abt-wrapper">
        <div class="one left">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iste eveniet quis tempore<br>
            voluptatem fugiat. Nihil doloribus, repudiandae excepturi est hic ut molestiae rem veniam,<br>
            amet ipsa, harum distinctio dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </P>
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iste eveniet quis tempore<br>
            voluptatem fugiat. Nihil doloribus, repudiandae excepturi est hic ut molestiae rem veniam,<br>
            amet ipsa, harum distinctio dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </P>
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iste eveniet quis tempore<br>
            voluptatem fugiat. Nihil doloribus, repudiandae excepturi est hic ut molestiae rem veniam,<br>
            amet ipsa, harum distinctio dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </P>
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iste eveniet quis tempore<br>
            voluptatem fugiat. Nihil doloribus, repudiandae excepturi est hic ut molestiae rem veniam,<br>
            amet ipsa, harum distinctio dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </P>
        </div>
        <div class="one right">
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iste eveniet quis tempore<br>
            voluptatem fugiat. Nihil doloribus, repudiandae excepturi est hic ut molestiae rem veniam,<br>
            amet ipsa, harum distinctio dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </P>
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iste eveniet quis tempore<br>
            voluptatem fugiat. Nihil doloribus, repudiandae excepturi est hic ut molestiae rem veniam,<br>
            amet ipsa, harum distinctio dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </P>
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iste eveniet quis tempore<br>
            voluptatem fugiat. Nihil doloribus, repudiandae excepturi est hic ut molestiae rem veniam,<br>
            amet ipsa, harum distinctio dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </P>
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iste eveniet quis tempore<br>
            voluptatem fugiat. Nihil doloribus, repudiandae excepturi est hic ut molestiae rem veniam,<br>
            amet ipsa, harum distinctio dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </P>
        </div>
      </div>
    </div>

    <div class="contact">
      <h1>Contact Us</h1>
      <div class="contact-wrapper">
        <div class="left">
          <form>
            <h3>Send us a message</h3>
            <label for="name">Name<span style="color: red;">*</span></label>
            <br>
            <input type="text" id="name" name="name" placeholder="eg Jon Doe">
            <br>
            <label for="email">Email<span style="color: red;">*</span></label>
            <br>
            <input type="email" id="email" name="email" placeholder="eg jondoe@gmail.com">
            <br>
            <label for="subject">Subject<span style="color: red;">*</span></label>
            <br>
            <input type="text" id="subject" name="subject">
            <br>
            <label for="message">Message<span style="color: red;">*</span></label>
            <br>
            <textarea cols="7" rows="5" id="message" name="message"></textarea>
            <br>
            <input type="button" value="Submit">
          </form>
        </div>
        <div class="right">
          <h3>Get in touch</h3>
          <i class="fa fa-map-marker"></i>
          <span>Kampala, Uganda</span>
          <br>
          <i class="fa fa-phone-square"></i>
          <span>+256788908709</span>
          <br>
          <i class="fa fa-envelope"></i>
          <span>jondoe@gmail.com</span>
        </div>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
