<%- include('./partials/head.ejs') %>

    <body>
        <div class="main">
            <div class="register-main">
                <div class="form-wrapper">
                    <form action="/register" method="post">
                        <h3>Register</h3>
                        <label for="username">Username<span style="color: red;">*</span></label>
                        <br>
                        <input type="text" id="username" name="username" placeholder="eg Jon Doe">
                        <br>
                        <label for="email">Email<span style="color: red;">*</span></label>
                        <br>
                        <input type="email" id="email" name="email" placeholder="eg jondoe@gmail.com">
                        <br>
                        <label for="password">Password<span style="color: red;">*</span></label>
                        <br>
                        <input type="password" id="password" name="password" >
                        <br>
                        <label for="cpassword">Confirm password<span style="color: red;">*</span></label>
                        <br>
                        <input type="password" id="cpassword" name="cpassword" >
                        <br>
                        <button type="submit">REGISTER</button>
                        <br>
                        <p class="register">
                            Already a member? <a href="/login">Login here</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </body>