<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <div class="subscribe-main row justify-content-center">
            <i class="fa fa-check-circle"></i>
            <h2 class="text-center">Thank you for subscribing!</h2>
            <p class="text-center">You have successfully subscribed to our mail list</p>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>