@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --main-black: #181719;
    --main-white: whitesmoke;
    --main-blue: rgb(31, 112, 192);
    --main-orange: rgb(233, 107, 34);
}


html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html {
    font-size: 68%;
    font-family: 'Courier New', Courier, monospace;
}

body, h1, h2, h3, h4, h5, h6, p, div, span{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-white);
    color: black;
    padding: 0;
    margin: 0;
    font-family: 'poppins', serif;
    width: 100vw;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    padding-right: 30px;
}

.nav-link:hover {
    color: var(--main-blue);
}

a:hover {
    text-decoration: none;
    color: blue;
}

nav {
    background: transparent;
}

.navbar-toggler {
    margin-right: 15px;
    padding: 10px;
}

.nav-item { 
    float: none; 
    display: block; 
    text-align: center; 
    font-size: 2rem; 
    padding: 15px;
    color: var(--main-white);
}

.m-adjust {
    margin-left: 100px;
}

.r-adjust {
    margin-right: 100px;
}

.b-adjust {
    margin-right: 100px;
}

@media (max-width: 600px) {
    .m-adjust {
        margin-left: 20px;
    }
    .b-adjust {
        margin-right: 20px;
    }
}

/* home page */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: var(--main-blue);
    background-color: var(--main-white);
    background-size: cover;
    background-image: url("/images/main-home.jpg");
}

.main-home h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--main-white);
    padding: 0 10px 0 20px;
}

.main-home p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--main-white);
    padding: 0 10px 0 20px;
}

@media (max-width: 700px) {
    .main-home h1 {
        font-size: 3rem;
    }
    .main-home p {
        font-size: 1.2rem;
    }
}

.home-btn {
    padding-left: 20px;
    margin-bottom: 70px;
}

.home-btn .main-btn {
    padding: 8px;
    font-size: 3vmin;
}

.home-btn .main-btn a {
    color: var(--main-white);
}

.home-btn .left {
    background: transparent;
    color: var(--main-white);
    margin-right: 10px;
    border: 1px solid var(--main-white);
}

.home-btn .right {
    background-color: var(--main-orange);
    border: none;
}

.statements {
    padding: 7% 15%;
}

.statements h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--main-black);
}

.stext {
    font-size: 1.2rem;
}

.featured-courses {
    background-color: var(--main-orange);
}

.featured-title {
    color: var(--main-white);
    font-weight: 600;
    font-size: 2.5rem;
    border-left: 5px solid #fff;
}

.white-text {
    color: var(--main-white);
}

.ftitle {
    font-size: 2rem;
}

.ftext {
    font-size: 1.5rem;
}

.fbtn {
    padding: 2%;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured-blog {
    padding: 2%;
}

.featured-blog h3 {
    color: var(--main-orange);
    font-size: 2.5rem;
    font-weight: 600;
    border-left: 5px solid var(--main-orange);
}

.fblog-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.fblog-desc {
    font-size: 1.2rem;
}

@media (max-width: 400px) {
    .fblog-img {
        width: 260px;
    }
}

@media (max-width: 300px) {
    .fblog-img {
        width: 200px;
    }
}

.events h3 {
    font-size: 2rem;
}

/* about section */

.intro {
    background-color: var(--main-orange);
    background-image: url('/images/b2.jpg');
    background-size: cover;
}

.intro h3 {
    font-size: 6.5vw;
    font-weight: 800;
    color: var(--main-orange);
}

.intro em {
    font-size: 5vw;
    color: var(--main-orange);
}
/* 
.about {
    margin-top: 20px;
    text-align: center;
    height: auto;
} */

.abt-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    place-items: center;
    margin: 20px 50px 0 50px;
    padding: 20px;
}

.abt-wrapper .left {
    text-align: left;
    padding: 40px;
    font-size: 2vmin;
}

.abt-wrapper .left h2 {
    color: var(--main-orange);
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
}

.right .wrapper {
    width: 100%;
    height: auto;
}

.right .wrapper img {
    border-radius: 25px;
    background-size: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 920px) {
    .about {
        height: auto;
    }
    .abt-wrapper {
        display: flex;
        flex-direction: column-reverse;
        padding: auto;
        margin: auto;
    }
    .abt-wrapper .left {
        border-radius: 0;
        border: none;
        text-align: center;
        padding-top: 0;
    }
}

.about-statements .card:hover {
    background-color: var(--main-blue);
    cursor: pointer;
    color: var(--main-white);
}

.about-statements .fa {
    color: var(--main-orange);
}

.about-statements .fa:hover {
    color: var(--main-white);
}

.about-statements h3 {
    font-size: 2rem;
    font-weight: bold;
}

.about-statements p {
    font-size: 1.3rem;
}

.about-statements ul li {
    list-style-type: disc;
    font-size: 1.3rem;
    padding: 5px;
}

/*contact section*/

.contact-main {
    height: auto;
}

.contact-title {
    background-color: var(--main-blue);
    height: 15vh;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.contact-us {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.get-in-touch span {
    font-size: 2rem;
    color: var(--main-white);
}

.get-in-touch .fa {
    font-size: 3rem;
    color: var(--main-white);
}

.get-in-touch .black {
    background-color: var(--main-black);
}

.get-in-touch .black:hover {
    background-color: var(--main-blue);
}

.get-in-touch .blue {
    background-color: var(--main-blue);
}

.get-in-touch .blue:hover {
    background-color: var(--main-orange);
}

.get-in-touch .orange {
    background-color: var(--main-orange);
}

.get-in-touch .orange:hover {
    background-color: var(--main-black);
}

/* footer */

.footer-container {
    background-color: var(--main-black);
    color: var(--main-white);
}

.footerLinks {
    font-size: 1.3rem;
}

.footerLinks a {
    color: var(--main-white);
    font-weight: normal;
}

footer .footer-text {
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--main-white);
}

.f-adjust .fa {
    font-size: 1.5rem;
    color: var(--main-white);
}

/* Blog */

.blog-header,
.course-header {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    font-style: italic;
}

.carousel-item {
    /* height: 75vh; */
    /* padding: 14% 15%;
    text-align: center; */
    color: white;
}

.carousel-em {
    font-size: 2rem;
    font-weight: normal;
}

.fblog {
    margin: 0 auto;
    overflow-y: hidden;
    width: 350px;
    height: 400px;
    padding: 12px;
    background-color: var(--main-white);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    color: var(--main-black);
    font-weight: bold;
    font-size: 1.2rem;
}

.fblog .date {
    padding-top: 5px;
    padding-left: 5px;
    font-size: 11px;
    font-weight: normal;
    opacity: 70%;
}

.fblog .title {
    font-size: 2rem;
    font-weight: 600;
}

.fblog .img-div {
    width: 100%;
    margin: 0 auto;
}

.fblog .img-div img{
    margin: 0 auto;
    width: 100%;
    height: 200px;
}

.fblog .desc {
    padding: 2px;
    font-weight: 400;
    height: 300px;
}

/* single post */
.singlePost {
    height: auto;
    padding-top: 200px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    font-style: normal;
    font-size: 5vw;
    font-weight: bold;
}

.post-text {
    font-size: 2rem;
    text-align: left;
    margin: 0 100px;
}

@media (max-width: 540px) {
    .post-text {
        margin: 0 50px;
        font-size: 1.5rem;
    }
}

@media (max-width: 300px) {
    .post-text {
        margin: 0 20px;
        font-size: 1.2rem;
    }
}

.posts-card {
    margin: 0 200px;
    margin-bottom: 20px;
}

.posts-card img {
    width: 100%;
    margin: 0 auto;
}

.posts-card h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 30px;
}

.posts-card .desc {
    font-size: 1.2rem;
    font-weight: 400;
}

@media (max-width: 912px) {
    .posts-card {
        margin: 0 50px;
    }
}

@media (max-width: 540px) {
    .posts-card {
        margin: 10px;
    }
}

/* login and register */

.login-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.register-main {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1629757509637-7c99379d6d26?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTF8MzYwMTgyMTh8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.login-main .container form {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    max-width: 400px;
    padding: 45px 35px;
    box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.3);
    opacity: 80%;
}

.login-main .container form h2 {
    color: var(--main-blue);
    margin-bottom: 0.75rem;
    text-align: center;
}

.login-main .container form .input-group {
    position: relative;
    width: 100%;
    margin-bottom: 1.25rem;
}

.login-main .container form .input-group label {
    font-size: 1.5rem;
}

.input-adjust {
    width: 100% !important;
    border-radius: 1px;
    box-sizing: border-box;
    font-size: 1.25rem;
    height: auto;
    padding: 0.5rem;
}

.toggle {
    background-color: none;
    border: none;
    font-weight: 600;
    position: absolute;
    right: 0.75rem;
    top: 2.50rem;
    z-index: 9;
}

.toggle .fa {
    font-size: 2rem;
    color: var(--main-orange);
    font-weight: 500;
}

.button-adjust {
    margin-top: 1.75rem;
    width: 100%;
    background-color: var(--main-orange);
    border: none;
}

.register {
    font-size: 1.2rem;
    margin-top: 2.5rem;
    text-align: center;
}

@media (max-width: 340px) {
    .login-main .container form {
        padding: 40px 15px;
    }
    .login-main .container form .input-group label {
        font-size: 1.2rem;
    }
    .pass-min {
        font-size: 1rem !important;
    }
}

/* ****Course Page**** */
.courses {
    color: var(--main-black);
}

.course-content {
    text-align: left;
}

/* course landing page */
.course-wrapper {
    padding: 7% 15%;
}

/* admin page */
.sidebar {
    color: var(--main-black);
    width: 200px;
    flex: 1;
    height: 100%;
    position: fixed;
    font-size: 1.5rem;
}

.admin-btn {
    font-size: 1.7rem;
}

.admin {
    margin-left: 200px;
    margin-bottom: 0;
}

.dashboard {
    margin-left: 50px;
    padding-top: 20px;
    font-size: 2.5rem;
    font-weight: bold;
}

.topnav {
    display: none;
}

@media (max-width: 700px) {
    .sidebar {
      display: none;
    }
    .admin {
        margin-left: 0;
    }
    .topnav {
        display: block;
    }
    .grid-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .dropdown-menu {
        width: 50%;
        margin: 0 auto;
      }  
    .dropdown-item {
        display: block;
        width: 100%;
        text-align: center;
    }
    .dropdown-item:hover{
        color: var(--main-blue);
    } 
}
  

.admin .admin-grid {
    margin: 20px 50px;
    /* padding: 10% 2vw 5%; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-left: 50px;
    padding-top: 0px; */
}

.admin .admin-grid .admin-card {
    width: 300px;
    height: 150px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    color: var(--main-black);
    /* border: 2px solid #D3D3D3; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.admin .admin-grid .admin-card .info {
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
}

.admin .admin-grid .admin-card .info .info-text {
    font-size: 25px;
    font-weight: normal;
}

.admin .admin-grid .admin-card .info .info-text a {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    color: var(--main-black);
}

/* add blog post */
.admin .container {
    padding-top: 20px;
}

@media (max-width: 700px) {
    .admin .container {
        padding: 10px;
    }
}

.admin .container form input[type="text"],
.admin .container form input[type="file"],
.admin .container form textarea {
    margin-bottom: 20px;
}

.admin .container form input[type="file"]{
    cursor: pointer;
}

/* add course */
.admin .container .course-form {
    margin: 0 200px;
}

.admin .container .course-form label {
    font-size: 1.5rem;
}

@media (max-width: 700px) {
    .admin .container {
        padding-top: 20px;
    }
    .admin .container .course-form {
        margin: 0;
    }
}

/* get all posts by admin */
.admin-wrapper {
    padding-left: 30px;
    margin-right: 100px;
}

@media (max-width: 700px) {
    .dashboard {
        text-align: center;
        margin: 0;
        padding: 20px;
    }
    .admin-wrapper {
        padding-left: 0px;
        margin-right: 0px;
    }
    
}

.posts-wrapper,
.course-wrapper {
    padding: 10px;
}

.posts-wrapper form {
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}

.posts-wrapper .icons {
    padding-bottom: 10px;
    margin-top: 20px;
}

.posts-wrapper  img {
    max-width: 100%;
}

.posts-wrapper .title-text {
    margin-top: 20px;
    font-size: 5vw;
    font-weight: bold;
}

.posts-wrapper.desc {
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 20px;
}
