@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin:0;
    padding:0;
}

:root {
    --main-black: #181719;
    --main-white: whitesmoke;
    --main-blue: rgb(31, 112, 192);
    --main-orange: rgb(233, 107, 34);
}

html {
    font-size: 68%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: var(--main-white);
    color: black;
    padding: 0;
    margin: 0;
    font-family: 'poppins', serif;
    width: 100vw;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    padding-right: 30px;
    color: var(--main-blue);
}

a:hover {
    text-decoration: none;
    color: blue;
}

.navbar {
    background: none;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 1;
    transition: all 300ms ease-in-out;
    background-color: var(--main-white);
    box-shadow: 0px 4px 2px rgb(243, 239, 239), 0px -4px 2px rgb(238, 227, 227);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 10px auto;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: var(--main-blue);
    font-size: 1.6rem;
    text-align: center;
    padding: 5px 30px;
    padding-top: 15px;
    text-decoration: none;
    /*border-radius: 25px;*/
  }

nav a:hover {
    color: var(--main-orange);
    text-shadow: 1px 1px 1px 1px solid #262626;
    border-bottom: 2px solid var(--main-orange);
    padding-bottom: 2px;
  }

nav .logo {
    margin-right: 600px;
    margin-left: 50px;
    width: 70px;
}

nav .login {
    margin-left: 150px;
}

/* home page */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: var(--main-blue);
    background-color: var(--main-white);
    background-size: cover;
    background-image: url("");

}

.main-left {
    width: 50%;
    height: 100vh;
    text-align: left;
    margin-top: 250px;
    padding-bottom: 250px;
}

.main-right {
    width: 50%;
    height: 100vh;
    margin-top: 150px;
    text-align: center;
}

.main-left .text {
    margin-left: 70px;
}

.main-left h1 {
    font-size: 3rem;
    font-weight: 800;
}

.main-left p {
    font-size: 1rem;
}

.main-right .wrapper {
    width: 80%;
    height: 70vh;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    background-color: #262626;
}

.main-right .wrapper img {
    background-size: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.about {
    margin-top: 50px;
    text-align: center;
    height: auto;
}

.about h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--main-blue);
}

.abt-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
}

.abt-wrapper .left {
    margin-left: 100px;
}

.abt-wrapper .right {
    margin-right: 100px;
}

.contact {
    margin-top: 50px;
    height: auto;
    background-color: var(--main-black);
}

.contact h1 {
    padding-top: 50px;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    color: var(--main-white);
}

.contact-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
    margin-bottom: 0;
    padding-bottom: 100px;
}

.contact-wrapper .left {
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    width: 80%;
    margin-left: 100px;
}

.contact-wrapper .left h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.contact-wrapper .left label {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 0;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

input[type=button] {
    margin-top: 5px;
    background-color: var(--main-orange);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
}

.contact-wrapper .right {
    margin: 0 auto;
    padding: 50px;
}

.contact-wrapper .right h3 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
}

.contact-wrapper .right .fa {
    color: var(--main-orange);
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact-wrapper .right span {
    font-size: 1.8rem;
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
}


/* footer */
footer {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--main-black);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1rem;
}

footer .footer-icons {
    margin-right: 100px;
}

footer .footer-icons li {
    display: inline;
}

footer .footer-icons a {
    color: white;
}

footer .footer-text {
    font-size: 1.7rem;
    font-weight: lighter;
    margin-right: 400px;
    color: white;
}

/* Blog */
.blog .main {
    padding-top: 200px;
    height: auto;
    width: 100vw;
    padding-left: 90px;
    padding-right: 90px;
}

.blog-header{
    text-align: center;
}

.featured-blogs {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    grid-gap: 2rem;
    width: 100%;
    gap: 0;
    margin: 0;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.fblog {
    overflow-y: hidden;
    width: 350px;
    height: 400px;
    padding: 12px;
    background-color: var(--main-white);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    color: var(--main-black);
    font-weight: bold;
    font-size: 1.2rem;
}

.fblog .date {
    padding-top: 5px;
    padding-left: 5px;
    font-size: 11px;
    font-weight: normal;
    opacity: 70%;
}

.fblog .title {
    font-size: 2rem;
    font-weight: 600;
}

.fblog .img-div {
    width: 100%;
    margin: 0 auto;
}

.fblog .img-div img{
    margin: 0 auto;
    width: 100%;
    height: 200px;
}

.fblog .desc {
    padding: 2px;
    font-weight: 400;
    height: 300px;
}

/* login */
.login-main {
    margin-top: 175px;
}

.form-wrapper {
    background-color: white;
    padding: 50px 80px;
    border-radius: 25px;
}

/* .form-wrapper form {
    background-color: var(--main-black);
    padding: 70px;
    border-radius: 25px;
} */

.form-wrapper form h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}

.form-wrapper form label {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 1.2rem;
    margin-left: 10px;
}

.form-wrapper form input,
.form-wrapper form button {
    width: 100%;
    border-radius: 25px;
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
    margin: 10px;
}

.form-wrapper form button {
    background-color: var(--main-orange);
}

.form-wrapper form p {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.form-wrapper form a {
    color: var(--main-orange);
}

.form-wrapper form a:hover {
    color: var(--main-blue);
}

/* register */
.register-main {
    margin: 50px;
}

/* courses */
.course-nav {
    float: right;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 2px rgb(243, 239, 239), 0px -4px 2px rgb(238, 227, 227);
}

.course-nav ul {
    padding: 10px;
    margin-top: 10px;
}

.course-nav ul input {
    margin-top: 15px;
    margin-right: 50px;
    padding: 8px;
}

/* admin page */

.nav-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #f1f1f1;
    width: 100%;
    color:rgb(20, 30, 40);
    height: 90px;
    opacity: 96%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-wrapper .topleft {
    display: flex;
    align-items: center;
    float: left;
}

.nav-wrapper .topleft h2 {
    margin-left: -500px;
    margin-right: 500px;
    margin-top: 40px;
    font-size: 3.5rem;
    font-weight: 800;
}

.nav-wrapper .topright {
    display: flex;
    align-items: center;
    float: right;
    font-size: 1.5rem;
    margin-left: 200px;
}

.nav-wrapper .topright a {
    color: var(--main-black);
    border: 2px solid var(--main-black);
    padding: 10px;
}

.nav-wrapper .topright a:hover {
    color: var(--main-blue);
    border: 2px solid var(--main-blue);
}

.sidebar {
    color: var(--main-black);
    width: 200px;
    flex: 1;
    height: calc(100vh - 100px);
    background-color: #f1f1f1;
    position: fixed;
    top: 100px;
}

.sidebar ul {
    margin-left: 0;
}

.sidebar a {
    color: var(--main-black);
}

/* .sidebar ul li .nav-header {
    width: 100%;
    margin: 20px;
    padding-right: 20px;
    background-color: azure;
} */

.sidebar ul li h3 {
    margin-left: -10px;
    margin-top: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    opacity: 70%;
    /* border-bottom: 1px solid var(--main-black); */
}

.sidebar ul li .nav-content a {
    /* margin-left: -15px; */
    padding-top: 0;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
}

.sidebar ul li .nav-content a:hover {
    border: none;
    color: var(--main-blue);
}

.admin {
    margin-left: 200px;
    margin-bottom: 0;
}

.admin .admin-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
    margin-left: 50px;
    padding-top: 120px;
}

.admin .admin-grid .admin-card {
    width: 300px;
    height: 150px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    color: var(--main-black);
}

.admin .admin-grid .admin-card .info {
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
}

.admin .admin-grid .admin-card .info .info-text {
    font-size: 25px;
    font-weight: normal;
}

.admin .admin-grid .admin-card .info .info-text a {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    color: var(--main-black);
}

/* add blog post */
.admin .container {
    padding-top: 120px;
}

.admin .container form {
    margin: 0 100px;
}

.admin .container form input[type="text"],
.admin .container form input[type="file"],
.admin .container form textarea {
    margin-bottom: 20px;
}

.admin .container form input[type="file"]{
    cursor: pointer;
}

/* add course */
.admin .container .course-form {
    margin: 0 200px;
}