@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --main-black: #181719;
    --main-white: whitesmoke;
    --main-blue: rgb(31, 112, 192);
    --main-orange: rgb(233, 107, 34);
}


html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html {
    font-size: 68%;
    font-family: 'Courier New', Courier, monospace;
}

body, h1, h2, h3, h4, h5, h6, p, div, span{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-white);
    color: black;
    padding: 0;
    margin: 0;
    font-family: 'poppins', serif;
    width: 100vw;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    padding-right: 30px;
    color: var(--main-blue);
}

a:hover {
    text-decoration: none;
    color: blue;
}

.navbar-toggler {
    margin-right: 15px;
    padding: 10px;
}

.nav-item { 
    float: none; 
    display: block; 
    text-align: center; 
    font-size: 2rem; 
    padding: 15px;
}

.m-adjust {
    margin-left: 100px;
}

.r-adjust {
    margin-right: 100px;
}

.b-adjust {
    margin-right: 100px;
}

@media (max-width: 600px) {
    .m-adjust {
        margin-left: 20px;
    }
    .b-adjust {
        margin-right: 20px;
    }
}

/* home page */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: var(--main-blue);
    background-color: var(--main-white);
    background-size: cover;
    background-image: url("/images/main-home.jpg");

}

.main-home h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--main-white);
    padding: 0 10px 0 20px;
}

.main-home p {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--main-white);
    padding: 0 10px 0 20px;
}

@media (max-width: 700px) {
    .main-home h1 {
        font-size: 3rem;
    }
    .main-home p {
        font-size: 1.2rem;
    }
}

.home-btn {
    padding-left: 20px;
    margin-bottom: 70px;
}

.home-btn .main-btn {
    padding: 8px;
    font-size: 3vmin;
}

.home-btn .main-btn a {
    color: var(--main-white);
}

.home-btn .left {
    background: transparent;
    color: var(--main-white);
    margin-right: 10px;
    border: 1px solid var(--main-white);
}

.home-btn .right {
    background-color: var(--main-orange);
    border: none;
}

/* about section */

.about {
    margin-top: 20px;
    text-align: center;
    height: auto;
}

.abt-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    place-items: center;
    margin: 20px 50px 0 50px;
    padding: 20px;
}

.abt-wrapper .left {
    text-align: left;
    padding: 40px;
    font-size: 2vmin;
}

.abt-wrapper .left h2 {
    color: var(--main-orange);
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
}

.right .wrapper {
    width: 100%;
    height: auto;
}

.right .wrapper img {
    border-radius: 25px;
    background-size: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 920px) {
    .about {
        height: auto;
    }
    .abt-wrapper {
        display: flex;
        flex-direction: column-reverse;
        padding: auto;
        margin: auto;
    }
    .abt-wrapper .left {
        border-radius: 0;
        border: none;
        text-align: center;
        padding-top: 0;
    }
}

/*team section*/

.team-boxed {
    background-color: var(--main-black);
}

.team-header {
    padding-top: 3%;
    font-size: 3rem;
    font-weight: 600;
    color: var(--main-orange);
}

.person {
    background-color: var(--main-white);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 30px;
    border-radius: 25px;
}

.person img {
    height: 300px;
    width: 300px;
}

.person .fa {
    color: var(--main-orange);
    font-size: 2rem;
}

.person .fa:hover {
    color: var(--main-blue);
}

/*contact section*/

.contact {
    height: auto;
    background-color: var(--main-white);
}

.contact h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: var(--main-orange);
    padding-top: 3%;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-gap: 4rem;
    margin: 20px 50px;
}

.contact-wrapper .left {
    width: 80%;
    color: var(--main-black);
}

.contact-wrapper .left h3 {
    font-size: 2.5vw;
    margin-bottom: 20px;
    text-align: center;
}

.contact-wrapper .left label {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 0;
}

.contact-wrapper .right {
    margin: 0 auto;
    width: 80%;
}

.contact-wrapper .right h3 {
    font-size: 2.5vw;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--main-black);
    text-align: center;
}

.contact-wrapper .right .fa {
    color: var(--main-orange);
    font-size: 4vw;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
}

.contact-wrapper .right span {
    font-size: 2.2vmin;
    margin-left: 5px;
    margin-bottom: 50px;
    color: var(--main-black);
}

.btn-adjust {
    background-color: var(--main-orange);
    border: var(--main-orange);
}

@media (max-width: 920px) {
    .contact-wrapper {
        margin: 20px auto;
    }
}

@media (max-width: 480px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .contact-wrapper .left h3,
    .contact-wrapper .right h3 {
        font-size: 1.5rem;
    }
    .contact-wrapper .right {
        text-align: center;
    }
    .contact-wrapper .right span {
        font-size: 1.2rem;
    }
    .contact-wrapper .right .fa {
        font-size: 2rem;
    }
}

/* footer */

footer .footer-text {
    font-size: 1.2rem;
    font-weight: normal;
}

.f-adjust .fa {
    font-size: 1.2rem;
    color: var(--main-black);
}

/* Blog */

.blog-header,
.course-header {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    font-style: italic;
}

.blog-c {
    /* background-image: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxvZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: var(--main-orange);
}

.carousel-item {
    /* height: 75vh; */
    /* padding: 14% 15%;
    text-align: center; */
    color: white;
}

.carousel-em {
    font-size: 2rem;
    font-weight: normal;
}

.fblog {
    margin: 0 auto;
    overflow-y: hidden;
    width: 350px;
    height: 400px;
    padding: 12px;
    background-color: var(--main-white);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    color: var(--main-black);
    font-weight: bold;
    font-size: 1.2rem;
}

.fblog .date {
    padding-top: 5px;
    padding-left: 5px;
    font-size: 11px;
    font-weight: normal;
    opacity: 70%;
}

.fblog .title {
    font-size: 2rem;
    font-weight: 600;
}

.fblog .img-div {
    width: 100%;
    margin: 0 auto;
}

.fblog .img-div img{
    margin: 0 auto;
    width: 100%;
    height: 200px;
}

.fblog .desc {
    padding: 2px;
    font-weight: 400;
    height: 300px;
}

/* single post */
.singlePost {
    height: auto;
    padding-top: 200px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    font-style: normal;
    font-size: 5vw;
    font-weight: bold;
}

.post-text {
    font-size: 2rem;
    text-align: left;
    margin: 0 100px;
}

@media (max-width: 540px) {
    .post-text {
        margin: 0 50px;
        font-size: 1.5rem;
    }
}

@media (max-width: 300px) {
    .post-text {
        margin: 0 20px;
        font-size: 1.2rem;
    }
}

.posts-card {
    margin: 0 200px;
    margin-bottom: 20px;
}

.posts-card img {
    width: 100%;
    margin: 0 auto;
}

.posts-card h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 30px;
}

.posts-card .desc {
    font-size: 1.2rem;
    font-weight: 400;
}

@media (max-width: 912px) {
    .posts-card {
        margin: 0 50px;
    }
}

@media (max-width: 540px) {
    .posts-card {
        margin: 10px;
    }
}

/* login and register */

.form-wrapper {
    background-color: white;
    padding: 50px 80px;
    border-radius: 25px;
    opacity: 80%;
}

.form-wrapper .back {
    text-align: center;
    border: 1px solid var(--main-black);
    font-size: 2rem;
    background: var(--main-orange);
    color: var(--main-black);
    border-radius: 25px;
}

.form-wrapper form h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}

.form-wrapper form label {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 1.2rem;
    margin-left: 10px;
}

.form-wrapper form input,
.form-wrapper form button {
    width: 100%;
    border-radius: 25px;
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
}

.form-wrapper form button {
    background-color: var(--main-orange);
}

.form-wrapper form p {
    margin-top: 10px;
    text-align: center;
    font-size: 2vmin;
}

.form-wrapper form a {
    color: var(--main-orange);
}

.form-wrapper form a:hover {
    color: var(--main-blue);
}

@media (max-width: 500px) {
    .form-wrapper {
        padding: 40px;
    }
    .form-wrapper .back {
        font-size: 1.7rem;
    }
    .form-wrapper form h3 {
        font-size: 2rem;
    }
    .form-wrapper form input,
    .form-wrapper form button {
        padding: 5px;
    }
}

@media (max-width: 340px) {
    .form-wrapper {
        padding: 20px;
    }
}

/* ****Course Page**** */
.courses {
    margin: 0 auto;
    /* margin: 250px 100px 20px 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4rem; */
    color: var(--main-black);
}

/* @media (min-width: 1100px) {
    .courses {
        margin: auto;
    }
} */

.mylogo {
    margin-left: 50px;
}

@media (max-width: 920px) {
    .mylogo {
        margin-left: auto;
    }
}

@media (max-width: 540px) {
    .single-course {
        text-align: center;
    }
    .single-course .desc {
        margin: 0 auto;
    }
}

@media (max-width: 380px) {
    .single-course {
        margin: 0 auto;
        padding: 0;
        /* width: 100%; */
    }
    .single-course .img-div video {
        width: 300px;
        height: 280px;
        border-radius: 10px;
    }
    
}

@media (max-width: 300px) {
    .single-course {
        margin: 0 auto;
        padding: 0;
        /* width: 100%; */
    }
    .single-course .img-div video {
        width: 220px;
        height: 200px;
        border-radius: 10px;
    }
    
}

.courses:hover {
    cursor: pointer;
}

.courses .img-div video:hover {
    paused: false;

}

.single-course {
    /* width: 400px; */
}

.single-course .img-div video {
    border-radius: 10px;
}

.single-course .date {
    opacity: 70%;
    padding: 0 10px;
}

.single-course .title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0px 8px;
}

.single-course .desc {
    font-size: 1rem;
    font-weight: normal;
    width: 280px;
    padding: 0px 8px;
}

/* admin page */

/* .nav-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #f1f1f1;
    width: 100%;
    color:rgb(20, 30, 40);
    height: 90px;
    opacity: 96%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-wrapper .topleft {
    display: flex;
    align-items: center;
    float: left;
}

.nav-wrapper .topleft h2 {
    margin-left: -500px;
    margin-right: 500px;
    margin-top: 40px;
    font-size: 3.5rem;
    font-weight: 800;
}

.nav-wrapper .topright {
    display: flex;
    align-items: center;
    float: right;
    font-size: 1.5rem;
    margin-left: 200px;
}

.nav-wrapper .topright a {
    color: var(--main-black);
    border: 2px solid var(--main-black);
    padding: 10px;
}

.nav-wrapper .topright a:hover {
    color: var(--main-blue);
    border: 2px solid var(--main-blue);
}

.sidebar ul {
    margin-left: 0;
}

.sidebar a {
    color: var(--main-black);
} */

/* .sidebar ul li .nav-header {
    width: 100%;
    margin: 20px;
    padding-right: 20px;
    background-color: azure;
} */

.sidebar {
    color: var(--main-black);
    width: 200px;
    flex: 1;
    height: 100%;
    position: fixed;
    font-size: 1.5rem;
}

.admin-btn {
    font-size: 1.7rem;
}

/* .sidebar ul li h3 {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    opacity: 70%;
} */

/* .sidebar ul li .nav-content a {
    padding-top: 0;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
}

.sidebar ul li .nav-content a:hover {
    border: none;
    color: var(--main-blue);
} */

.admin {
    margin-left: 200px;
    margin-bottom: 0;
}

.dashboard {
    margin-left: 50px;
    padding-top: 20px;
    font-size: 2.5rem;
    font-weight: bold;
}

.topnav {
    display: none;
}

@media (max-width: 700px) {
    .sidebar {
      display: none;
    }
    .admin {
        margin-left: 0;
    }
    .topnav {
        display: block;
    }
    .grid-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .dropdown-menu {
        width: 50%;
        margin: 0 auto;
      }  
    .dropdown-item {
        display: block;
        width: 100%;
        text-align: center;
    }
    .dropdown-item:hover{
        color: var(--main-blue);
    } 
}
  

.admin .admin-grid {
    margin: 20px 50px;
    /* padding: 10% 2vw 5%; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-left: 50px;
    padding-top: 0px; */
}

.admin .admin-grid .admin-card {
    width: 300px;
    height: 150px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    color: var(--main-black);
    /* border: 2px solid #D3D3D3; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.admin .admin-grid .admin-card .info {
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
}

.admin .admin-grid .admin-card .info .info-text {
    font-size: 25px;
    font-weight: normal;
}

.admin .admin-grid .admin-card .info .info-text a {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    color: var(--main-black);
}

/* add blog post */
.admin .container {
    padding-top: 20px;
}

@media (max-width: 700px) {
    .admin .container {
        padding: 10px;
    }
}

.admin .container form input[type="text"],
.admin .container form input[type="file"],
.admin .container form textarea {
    margin-bottom: 20px;
}

.admin .container form input[type="file"]{
    cursor: pointer;
}

/* add course */
.admin .container .course-form {
    margin: 0 200px;
}

@media (max-width: 700px) {
    .admin .container {
        padding-top: 20px;
    }
    .admin .container .course-form {
        margin: 0;
    }
}

/* get all posts by admin */
.admin-wrapper {
    padding-left: 30px;
    margin-right: 100px;
}

@media (max-width: 700px) {
    .dashboard {
        text-align: center;
        margin: 0;
        padding: 20px;
    }
    .admin-wrapper {
        padding-left: 0px;
        margin-right: 0px;
    }
    
}

.posts-wrapper,
.course-wrapper {
    padding: 10px;
}

.posts-wrapper form {
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}

.posts-wrapper .icons {
    padding-bottom: 10px;
    margin-top: 20px;
}

.posts-wrapper  img {
    max-width: 100%;
}

.posts-wrapper .title-text {
    margin-top: 20px;
    font-size: 5vw;
    font-weight: bold;
}

.posts-wrapper.desc {
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 20px;
}
