<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>

    <div>
        <div class="orange-bg">
            <div class="container">
                <h1 class="text-center p-5">Terms and Conditions of GO USETECH</h1>
                <h5 class="text-center pb-5">
                    Welcome to the website of GO USETECH. By accessing and using 
                    our website, you agree to comply with the following terms and 
                    conditions. Please read them carefully:
                </h5>
            </div>
        </div>
        <div class="container p-5 policy">
            <ul>
                <li>
                    <h3>Intellectual Property:</h3> All content on this website, including text, images, 
                    graphics, logos, and videos, is the property of GO USETECH or its licensors 
                    and is protected by copyright laws. You may not reproduce, modify, distribute, 
                    or republish any content from this website without our prior written consent.
                </li>
                <li>
                    <h3>Website Use:</h3> You may use our website for informational purposes and to
                    engage with our services, programs, and resources. However, you agree not
                    to use the website for any unlawful or unauthorized purposes that may violate
                    applicable laws or regulations.
                </li>
                <li>
                    <h3>Third-Party Links:</h3> Our website may contain links to third-party websites or
                    resources. These links are provided for your convenience and do not imply
                    endorsement or responsibility for the content or activities of these third-party
                    websites. We encourage you to review the terms and conditions and privacy
                    policies of any linked websites you visit.
                </li>
                <li>
                    <h3>Privacy:</h3> We respect your privacy and are committed to protecting your
                    personal information. Please refer to our Privacy Policy for detailed
                    information on how we collect, use, and safeguard your data when you
                    interact with our website.
                </li>
                <li>
                    <h3>Disclaimer of Liability:</h3> While we strive to provide accurate and up-to-date
                    information on our website, we make no representations or warranties of any
                    kind, express or implied, about the completeness, accuracy, reliability,
                    suitability, or availability of the information, products, services, or graphics on
                    the website. You acknowledge that any reliance on such information is at your
                    own risk.
                </li>
                <li>
                    <h3>Limitation of Liability:</h3> In no event will GO USETECH be liable for any loss or
                    damage, including without limitation, indirect or consequential loss or damage,
                    or any loss or damage whatsoever arising from the use of this website.
                </li>
                <li>
                    <h3>Changes to the Terms and Conditions:</h3> We reserve the right to modify or
                    update these terms and conditions at any time without prior notice. Any
                    changes will be effective immediately upon posting on this website. By
                    continuing to use the website after such modifications, you agree to be bound
                    by the revised terms and conditions.
                </li>
                <li>
                    <h3>Governing Law:</h3> These terms and conditions shall be governed by and
                    construed in accordance with the laws of [Jurisdiction]. Any disputes arising
                    from or relating to the use of this website shall be subject to the exclusive
                    jurisdiction of the courts of [Jurisdiction].
                </li>
                <li>
                    <h3>Contact Information:</h3> If you have any questions or concerns about these terms
                    and conditions, please contact us at [Email Address] or [Phone Number].
                </li>
                <p>
                    By using our website, you acknowledge that you have read, understood, and agreed to 
                    these terms and conditions. Thank you for visiting GO USETECH and for your cooperation 
                    in complying with these terms.
                </p>
                <p class="pt-3">
                    Last updated:30/12/2023
                </p>
            </ul>
        </div>
    </div>
    
    <%- include('../partials/footer.ejs') %>
</body>