<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="donate-page pt-5">
        <div class="orange-bg">
            <div class="container">
                <h1 class="text-center p-5">Support the Vision, Ignite Change: Donate to GO USETECH</h1>
                <p class="text-center pb-5">
                    At GO USETECH, we believe in the transformative power of education and technology. 
                    Our mission is to make quality education accessible to everyone, breaking down barriers 
                    and creating opportunities for a brighter future. We can't do it alone, and that's where you come in.
                </p>
            </div>
        </div>
        <div class="container pt-5">
            <div class="row pt-5">
                <div class="col-lg-6 col-sm-12">
                    <h4>Your Contribution Matters:</h4>
                    <p>
                        Every donation to GO USETech is a direct investment in empowerment. 
                        Your support helps us reach more learners, develop innovative programs, 
                        and make a lasting impact in communities. Whether big or small, your contribution 
                        fuels the journey toward a more inclusive and digitally literate society.
                    </p>
                    <div class="py-4">
                        <h4>Ways to Donate:</h4>
                        <ul>
                            <li>
                                <p>
                                    <strong>One-time Donation:</strong> Make a difference today with a one-time 
                                    donation that directly supports our initiatives.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong>Contributions:</strong> Join our community of sustained supporters by setting up a monthly donation. 
                                    Consistent contributions provide stability and help plan for the future.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong>Sponsor a Learner:</strong> Consider sponsoring a learner, providing them with access to quality 
                                    education and resources.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="pb-4">
                        <h4>Why Donate to GO USETech:</h4>
                        <ul>
                            <li>
                                <p>
                                    <strong>Community Impact:</strong> Your donation contributes to positive social change, 
                                    creating opportunities for those who need it the most.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong>Tech-Driven Education:</strong> We're shaping the future by empowering individuals with 
                                    essential digital skills and knowledge.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong>Transparency and Accountability:</strong> GO USETech operates with utmost transparency. 
                                    Your contributions are allocated responsibly to maximize impact.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="pb-5">
                        <h5>
                            Join Us in Empowering Futures:
                        </h5>
                        <p>
                            GO USETech is more than an organization; it's a movement driven by people who believe 
                            in the power of education to transform lives. Together, let's ignite change, one learner at a time.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <h4 class="py-5" style="color: rgb(233, 107, 34);">               
                        Donate today and be a catalyst for positive impact.
                    </h4>
                    <div class="card p-5">
                        <!-- <h3 class="text-center pb-5">Donate</h3> -->
                        <form 
                            action="/donate" 
                            method="POST"
                        >
                            <div class="d-grid gap-2">
                                <button 
                                    class="btn btn-warning btn-lg" 
                                    type="button"
                                >
                                    <a href="#">
                                        <em class="fw-bold text-primary">PayPal</em>
                                    </a>
                                </button>
                                <button 
                                    class="btn btn-danger btn-lg fw-bold" 
                                    type="button"
                                >
                                    <a href="#">
                                        Airtel Money
                                    </a>
                                </button>
                                <button 
                                    class="btn btn-warning btn-lg fw-bold" 
                                    type="button"
                                >
                                    <a href="#">
                                        MTN Mobile Money
                                    </a>
                                </button>
                            </div>
                            <h4 class="p-5 fw-bold text-center">Or Donate with Card</h4>
                            <div class="row p-2">
                                <div class="col-lg-8">
                                    <input 
                                        class="form-control p-2" 
                                        type="text" 
                                        id="card-name" 
                                        name="card-name" 
                                        placeholder="Card Holder Name" 
                                        required
                                    >
                                </div>
                                <div class="col-lg-4">
                                    <input 
                                        class="form-control p-2" 
                                        type="text" 
                                        id="date" 
                                        name="date" 
                                        placeholder="MM/YY" 
                                        required
                                    >
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-lg-8">
                                    <input 
                                        class="form-control p-2" 
                                        type="text" 
                                        id="amount" 
                                        name="amount" 
                                        placeholder="1111 2222 3333 4444" 
                                        required
                                    >
                                </div>
                                <div class="col-lg-4">
                                    <input 
                                        class="form-control p-2" 
                                        type="number" 
                                        id="cvc" 
                                        name="cvc" 
                                        placeholder="CVC" 
                                        required
                                    >
                                </div>
                            </div>
                            <div class="d-grid gap-2 p-2">
                                <button 
                                    class="btn btn-primary btn-lg fw-bold" 
                                    type="submit"
                                >
                                    Donate
                                </button>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
